
body { padding-top: 3.5rem; }

#cover-section{
  height: 50vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%) !important;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: slategrey;
}
ol.carousel-indicators li.active {
  background-color: yellow;
}

#carousel_about .carousel-item > img {
  min-width: 100vw;
  height: 50vh;
  max-width: none;
  object-fit:cover;
  object-position:center;
}