
*, *:before, *:after {
  box-sizing: border-box;
}
*{
  height: 100%;
  max-height: 100%;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 20px;
}
*{
  background-image: url(https://unsplash.imgix.net/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg?q=75&fm=jpg&auto=format&s=f370fb6d5c06573c5aa7d1f1ae41f1df);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  overflow: auto;
}
#modal-trigger {
  display: block;
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 0 60px;
  border-radius: 50px;
  border: none;
  background: inherit;
  overflow: hidden;
  font-size: 20px;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 200;
  line-height: 100px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
  opacity: 1;
}
#modal-trigger.hide {
  opacity: 0;
}
#modal-trigger:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: -50px;
  left: -50px;
  height: calc(100% + 100px);
  width: calc(100% + 100px);
  background: inherit;
  -webkit-filter: blur(10px) saturate(1.5);
}
#modal-trigger:after {
  content: attr(data-buttonTitle);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}
#modal {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 500px;
  margin: -150px 0 0 -250px;
  transition: none;
  background: inherit;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
}
#modal.show {
  opacity: 1;
}
#modal #content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  line-height: 300px;
  text-align: center;
}
#modal #background {
  background: inherit;
  position: absolute;
  top: -50px;
  left: -50px;
  height: calc(100% + 100px);
  width: calc(100% + 100px);
  -webkit-filter: blur(10px);
}