<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >


<!-- connection info는 root-context에서 설정됨. 여기서는 type alias 등 설정 -->
<configuration>
  <!-- 쿼리문 where절 parameter에 generic 값들(e.g. NULL, VARCHAR or OTHER)을  허용 -->
  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>

  <typeAliases>
    <typeAlias type="com.kh.workman.common.ArrayTypeHandler" alias="arrType" />
    <typeAlias type="com.kh.workman.job.model.vo.JobBoard" alias="jobBoard" />
 </typeAliases>

</configuration>